<html>
    <head th:replace="index :: header">
    </head>
    <body>
        <br/>
        <div class="container-sm">
            <h2 th:text="${formName}"></h2>
            <form class="needs-validation" th:action="@{/alumno-grados/save}" method="POST" th:object="${alumnoGrado}" novalidate>
                <input type="hidden" name="id" th:field="*{id}" />
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="nombre-label">Sección</span>
                    <input type="text" class="form-control" aria-label="Nombre de la sección" aria-describedby="nombre-label" name="seccion" th:field="*{seccion}" required/>
                    <div class="invalid-feedback">
                        La sección es obligatoria.
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="apellido-label">Alumno</span>
                    <select class="form-select" aria-label="Asignar alumno" name="alumno" th:field="*{alumno}" required>
                        <option value="">-- Selecione --</option>
                        <option th:each="elem : ${alumnos}" th:value="${elem.id}" th:text="${elem.nombre}"></option>
                    </select>
                    <div class="invalid-feedback">
                        Debe asignar un alumno
                    </div>
                </div>
                
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="apellido-label">Grado</span>
                    <select class="form-select" aria-label="Asignar alumno" name="grado" th:field="*{grado}" required>
                        <option value="">-- Selecione --</option>
                        <option th:each="elem : ${grados}" th:value="${elem.id}" th:text="${elem.nombre}"></option>
                    </select>
                    <div class="invalid-feedback">
                        Debe asignar un grado
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="#" class="btn btn-secondary" th:href="@{/alumno-grados}">Regresar</a>
            </form>
        </div>

        <div th:replace="index:: scripts">...</div>
    </body>
</html>
