<html>
    <head th:replace="index :: header">
    </head>
    <body>
        <br/>
        <div class="container-sm">
            <h2 th:text="${formName}"></h2>
            <form class="needs-validation" th:action="@{/grados/save}" method="POST" th:object="${grado}" novalidate>
                <input type="hidden" name="id" th:field="*{id}" />
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="nombre-label">Nombre</span>
                    <input type="text" class="form-control" aria-label="Nombre grado" aria-describedby="nombre-label" name="nombre" th:field="*{nombre}" required/>
                    <div class="invalid-feedback">
                        El nombre del grado es obligatorio.
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="apellido-label">Profesor</span>
                    <select class="form-select" aria-label="Asignar profesor" name="profesor" th:field="*{profesor}" required>
                        <option value="">-- Selecione --</option>
                        <option th:each="elem : ${profesores}" th:value="${elem.id}" th:text="${elem.nombre}"></option>
                    </select>
                    <div class="invalid-feedback">
                        Debe asignar un profesor.
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="#" class="btn btn-secondary" th:href="@{/grados}">Regresar</a>
            </form>
        </div>

        <div th:replace="index:: scripts">...</div>
    </body>
</html>
