<html>
    <head th:replace="index :: header">
    </head>
    <body>
        <br />
        <div class="container">
             <h2 th:text="${reportName}"></h2>
            <a href="#" class="btn btn-link" th:href="@{/profesores/modal}">Agregar</a> 
            <br/>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" th:each="header : ${headers}" th:text="${header}">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="elem : ${list}">
                        <td th:text="${elem.id}" />
                        <td th:text="${elem.nombre}" />
                        <td th:text="${elem.apellido}" />
                        <td th:text="${elem.genero}" />
                        
                        <td>
                            [ <a href="#" class="btn btn-link" th:href="@{'/profesores/modal/' + ${elem.id}}">Editar</a> ]<br/>
                            [ <a href="#" class="btn btn-link" th:href="@{'/profesores/delete/' + ${elem.id}}">Eliminar</a> ]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="index:: scripts">...</div>
    </body>
</html>
