<html>
    <head th:replace="index :: header">
    </head>
    <body>
        <br/>
        <div class="container-sm">
            <h2 th:text="${formName}"></h2>
            <form class="needs-validation"  th:action="@{/profesores/save}" method="POST" th:object="${profesor}" novalidate>
                <input type="hidden" name="id" th:field="*{id}" />
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="nombre-label">Nombre</span>
                    <input type="text" class="form-control" aria-label="Nombre profesor" aria-describedby="nombre-label" name="nombre" th:field="*{nombre}" required/>
                    <div class="invalid-feedback">
                        El nombre del profesor es obligatorio.
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="apellido-label">Apellidos</span>
                    <input type="text" class="form-control" aria-label="Apellidos del profesor" aria-describedby="apellido-label" name="apellido" th:field="*{apellido}" required/>
                    <div class="invalid-feedback">
                        El apellido del profesor es obligatorio.
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="genero-label">Genero</span>
                    <select class="form-select" aria-label="Asignar genero" name="genero" th:field="*{genero}" required>
                        <option value="">-- Selecione --</option>
                        <option th:each="elem : ${generos}" th:value="${elem.description}" th:text="${elem.description}"></option>
                    </select>
                    <div class="invalid-feedback">
                        El genero del profesor es obligatorio.
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="#" class="btn btn-secondary" th:href="@{/profesores}">Regresar</a>
            </form>
        </div>

        <div th:replace="index:: scripts">...</div>
    </body>
</html>
